.btn {
  font-size: 20px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  box-shadow: var(--shadow);
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.125s ease;
  border-radius: 5px;
  transition: all 0.0666s ease-in;
  background-color: var(--elements);
  color: var(--color);
  transition: background 0.5s ease;
  transition: color 0.5s ease;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0px;
    &.disabled {
      display: none;
    }
  }
  &:hover {
    background: var(--hoverBack);
    color: var(--hoverColor);
  }
  &.active {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 0;
    border-bottom-color: transparent;
    animation: rotate 1.4s ease 0.1s infinite;
    border-radius: 100%;
    &:hover {
      background: none;
    }
    @keyframes rotate {
      0% {
        transform: rotate(-360deg);
      }
    }
  }
}
