@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
body {
  --color: rgb(0, 0, 0);
  --elements: white;
  --shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
  --hoverBack: black;
  --hoverColor: white;
  --backColor: white;
}
* {
  font-family: "Nunito Sans", sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.App {
  margin: 0 auto;
  background-color: var(--backColor);
  min-height: 100vh;
}

.dark__theme {
  --backColor: #202c37;
  color: white;
  --color: white;
  --elements: #2b3945;
  --hoverBack: white;
  --hoverColor: black;
}
